
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <div>
        <h2>Checkout Successfully</h2>
        <h4>Your order has been successful</h4>
        <a href="@Url.Action("Index","Product")">Continous Shopping</a>
    </div>
</body>
</html>
